@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.dropdown-icon{
    transform: scale(0);
    transition: 0.5s;
}

tr:hover .dropdown-icon{
    transform: scale(1);
}

.bg-transparent-50{
    background-color: rgba(0, 0, 0, 0.5);
}

.side-bar{
    transform: translateX(-100%);
    transition: 0.5s;
}

.side-bar.active{
    transform: translateX(0);
}

.menu:active{
    transform: scale(0.8);
}